*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: powderblue;
}
.hero {
    background-image: url('king.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1; 
}
li{
    list-style:none;
}
a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px purple;
    font-size: 1rem;
}
a:hover{
    color: burlywood;
    text-shadow: 1px 1px black;
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 1.5em;;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.dropdown_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    width: 200px;
    height: 0;
    background-color: rgba(184, 129, 183, 0.688);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu.open{
    height: 140px;
}
section#hero{
    height: calc(100vh-60px);
    display: flex;
    padding-top: 200px;
    padding-left: 150px;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align:center; */
    color: powderblue;
    text-shadow: 1.5px 1.5px black;
}
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    background-color: white;
    margin-right: 1200px;
}
#hero h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
@media (max-width:780px) {
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
        color: black;
    }
    .dropdown_menu {
        display: block;
    }
    #hero h1{
        font-size: 2rem;
        margin-bottom: 1rem;
        background-color: white;
        margin-right: 1200rem;
    }
    #hero h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    @media (max-width: 576px){
        .dropdown_menu{
            left: 2rem;
            width: unset;
        }
        section#hero {
            padding-left: 20px;
        }
        #hero h1{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        #hero h2{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }
}