* {
  margin: 0px;
  box-sizing: border-box;
}
section {
  background-image: url("king2.jpg");
  height: 695px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topnav {
  text-align: justify;
  /* padding: 12px 14px; */
  padding-left: 800px;
  padding-top: 7px;
  padding-bottom: 7px;

}
.topnav a {
  padding-left: 70px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  text-shadow: 2px 1px black;
}
.Sintro {
  margin-top: 400px;
  margin-left: 50px;
  color: whitesmoke;
  text-shadow: 4px 4px black;
  font-size: 45px;
}
@media only screen and (max-width: 700px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  section {
    height: 100vh;
    width:100%;
  }
  .topnav {
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
  }
  .topnav a {
    padding-top: 10px;
    padding: 5px;
  }
  .Sintro {
    padding-top: 250px;
    margin: 0px;
    font-size: 40px;
  }
}